* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


/* import font */
@font-face {
   font-family: 'Ubuntu Mono';
   src: url('Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype')
}

/* transtion */
@keyframes fadeInUp {
   from {
     opacity: 0;
     transform: translateY(20px);
   }
   to {
     opacity: 1;
     transform: translateY(0); 
   }
 }

/* Body styles */
body {
   font-family: 'Ubuntu Mono', sans-serif;
   background-image: url('assets/bg.jpg');
}


/* Navbar styles */

.navbar {
   display: flex;
   justify-content: center;
   background-color: #FDDFE7;
   padding: 10px 0;
}


nav a {
   color: #132CAF;
   text-decoration: none;
   margin: 0 20px;
   font-size: 1em;
   padding: 10px 20px;
   border-radius: 10px;
   transition: padding 0.5s;
   
}


nav a:hover {
   background-color:#ebcdd5;
   transition: 0.5s;
   transform: translateY(-5px);
}


/* Header styles */
.hero {
   color: #132CAF;
   padding-top: 80px;
   padding-bottom: 40px;
   text-align: center;
}


.hero h1 {
   font-size: 3em;
   margin-bottom: 20px;
}


.hero p {
   font-size: 1.2em;
   margin-bottom: 40px;
}


.btn {
   display: inline-block;
   padding: 10px 20px;
   background-color: #FDDFE7;
   color: #132CAF;
   font-size: 1.1em;
   text-decoration: none;
   border-radius: 5px;
   transition: background-color 0.7s ease;
}


.btn:hover {
   background-color: #132CAF;
   color: #FDDFE7;
}


/* Portfolio styles */
.portfolio {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 40px;
}


.portfolio-item {
   max-width: 300px;
   margin: 20px;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   text-align: center;
}


.portfolio-item img {
   max-width: 100%;
   border-radius: 5px;
}


.portfolio-item h2 {
   margin: 10px 0;
}


/* Portfolio item style */
.portfolio-item p {
   font-size: 0.9em;
   opacity: 0; /* Initially hidden */
   animation: fadeInUp 1s forwards; /* Animation to fade in */
}

/* About section style */
.about-section {
   display: flex;
   justify-content: center;
   padding: 40px;
   padding-top: 0;
   opacity: 0; /* Initially hidden */
   animation: fadeIn 1s forwards; /* Animation to fade in */
}
 
@keyframes fadeIn {
   from {
     opacity: 0;
     transform: translateY(20px); /* Start slightly below and fade in */
   }
   to {
     opacity: 1;
     transform: translateY(0); /* Fade in and move to original position */
   }
}
 
.about-box {
   padding-top: 0;
   padding-left: 50px;
   padding-right: 50px;
}
 
.about-title {
   padding-top: 0;
   font-size: 2.7em;
   margin-bottom: 20px;
   color: #132CAF;
}
 
.about-text {
   font-size: 1.7em;
}
 

/* Contact styles */
.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.contact-info {
   max-width: 400px;
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   text-align: center;
   opacity: 0;
   animation: fadeIn 1s forwards;
}

.contact-info h2 {
   margin-bottom: 20px;
   color: #132CAF;
}

.contact-info p {
   font-size: 1.1em;
   margin-bottom: 10px;
}




/* Footer styles */
.footer {
   color: #132CAF;
   text-align: center;
   padding: 20px 0;
   position: absolute;
   width: 100%;
   bottom: 0;
}
 